.longBtn {
  @apply shadow-square px-6 py-4 h-full w-full;
}

.longBtn:active {
  @apply shadow-selectedSquare;
}

.selectedLongBtn {
  @apply shadow-selectedSquare rounded-md px-6 py-4 h-full w-full;
}

.banSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
