.inputBox {
  @apply w-full shadow-input p-4;
  @apply break-words;
  border-radius: 10px;
  font-family: "gmarketBold";
  resize: none;
  background: rgba(246, 246, 246, 1);
}

.inputBox::-webkit-scrollbar {
  display: none;
}
