.inputBox {
  @apply w-full shadow-input p-4 break-words;
  @apply focus:outline-none focus:shadow-selectedComment;
  border-radius: 10px;
  font-family: "gmarketBold";
  resize: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.inputBox::-webkit-scrollbar {
  display: none;
}
