.frame {
  @apply w-full shadow-input px-3 pt-3 pb-2 flex-auto gap-1;
  @apply flex;
  font-family: "gmarketBold";
  background: rgba(246, 246, 246, 1);
}

.myInput {
  @apply focus:outline-none flex-1;
  background: none;
}

.onFocus {
  @apply shadow-selectedComment;
}

.clearIcon {
  @apply w-7 h-7 cursor-pointer;
}
