.cardBtn {
  @apply cursor-pointer rounded-md w-full h-full flex flex-col justify-center items-center;
}

/* .cardBtn:hover {
  box-shadow: -0.18px -0.18px 3.54px #ffffff, 0.18px 0.18px 3.54px rgba(174, 174, 192, 0.4);
} */

/* .cardBtn:active,
.cardBtn:focus {
  @apply shadow-selectedCard;
} */

.pinkCardBtn {
  box-shadow: 1.5px 1.5px 4px 0px rgba(198, 172, 181, 0.9),
    -1.5px -1.5px 3px 0px rgba(255, 242, 255, 0.9), 1.5px -1.5px 3px 0px rgba(198, 172, 181, 0.2),
    -1.5px 1.5px 3px 0px rgba(198, 172, 181, 0.2), -1px -1px 2px 0px rgba(198, 172, 181, 0.5) inset,
    1px 1px 2px 0px rgba(255, 242, 255, 0.3) inset;
}

.pinkCardBtn:active,
.pinkCardBtn:focus {
  box-shadow: 2px 2px 5px 0px rgba(198, 172, 181, 0.9) inset,
    -2px -2px 4px 0px rgba(255, 242, 255, 0.9) inset,
    2px -2px 4px 0px rgba(198, 172, 181, 0.2) inset, -2px 2px 4px 0px rgba(198, 172, 181, 0.2) inset,
    -1px -1px 2px 0px rgba(198, 172, 181, 0.5), 1px 1px 2px 0px rgba(255, 242, 255, 0.3);
}

.blueCardBtn {
  box-shadow: 1.5px 1.5px 4px 0px rgba(144, 163, 188, 0.9),
    -1.5px -1.5px 3px 0px rgba(204, 229, 255, 0.9), 1.5px -1.5px 3px 0px rgba(144, 163, 188, 0.2),
    -1.5px 1.5px 3px 0px rgba(144, 163, 188, 0.2), -1px -1px 2px 0px rgba(144, 163, 188, 0.5) inset,
    1px 1px 2px 0px rgba(204, 229, 255, 0.3) inset;
}

.blueCardBtn:active,
.blueCardBtn:focus {
  box-shadow: 2px 2px 5px 0px rgba(144, 163, 188, 0.9) inset,
    -2px -2px 4px 0px rgba(204, 229, 255, 0.9) inset,
    2px -2px 4px 0px rgba(144, 163, 188, 0.2) inset, -2px 2px 4px 0px rgba(144, 163, 188, 0.2) inset,
    -1px -1px 2px 0px rgba(144, 163, 188, 0.5), 1px 1px 2px 0px rgba(204, 229, 255, 0.3);
}
